@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: auto;
  position:relative;
  max-width: 1200px;
  padding: 0;
}
ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
a {
	color: #fffde1;
  text-decoration: none;
  }
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1,
h2,
h3,
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  max-width: 100%;
  }
#footer {
  background-color: #444; 
  color: #d9cbcb;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
  }
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: #621d2b;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.3em;
  text-transform: uppercase;
 }
 h1 {
padding-top: 10px;
font-size: 1.5em;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  margin: 0;
  width:100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  font-size: 1.5em; 
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #095da5;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/*===================Skip Links=====================*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 100;
  padding: 10px;
  background: white;
}
.skip-link:focus{
  top: 0;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #621d2b;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 10px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 20px 5px 60px;
  text-align: center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px 5px;
  min-height: 380px;
  padding: 0 20px 25px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
}
#restaurants-list li h2 {
  color: #621d2b;
  font-family: Arial,sans-serif;
  font-size: 12pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  text-decoration: #621d2b underline;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.3em;
}
#restaurants-list li a {
  background-color: #621d2b;
  border-bottom: 3px solid #141c38;
  color: #fff;
  display: block;
  font-size: 1em;
  margin: 15px 30px 0;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 48px;
  min-height: 48px;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  max-width: 1200px;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: relative;
  right: 0;
  top: 80px;
  width: 100%;
  display: flex;
}
.inside #map {
  background-color: #ccc;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #621d2b;
  font-family: Arial,sans-serif;
  font-size: 2.5em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1.8em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #621d2b;
  color: #ddd;
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 85px 40px 30px;
  width: 100%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #621d2b;
  font-size: 3.2em;
  font-weight: 300;
  margin-left: 20px;
}
#reviews-list {
  margin: -10px;
  padding: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 0 20px 10px;
  position: relative;
  width: 100%;
}
#reviews-list li p {
 font-size: 1em;
 text-align: justify;
}
#restaurant-hours td {
  color: #3d3d3d;
  font-size: 1.8em;
}
#reviews-list li p:first-child {
  font-size: 1.2em;
}
#reviews-list li p:last-child {
  font-size: 1.2em;
}


 /* ====================== Media Queries ====================== */
@media screen and (min-width: 425px){
  body{
    font-size: 10px;
  }
}

@media screen and (min-width: 500px) {
  #restaurants-list li{
    width: calc(100% / 2 - 10px);
  }
}
@media screen and (min-width: 800px) {
  #restaurants-list li{
    width: calc(100% / 3 - 10px);
  }
} 
@media screen and (min-width: 600px) {
  #restaurant-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: initial;
  }
  #restaurant-name {
    width: 50%;
    order: -1;
  }
  #restaurant-address{
    width: 53%;
    order:0;
    margin-right: 2%;
  }
  #restaurant-hours {
    order: 2;
    width: 53%;
    margin-right: 2%;
    margin-top: 2%;
  }
  #restaurant-img {
    width: 45%;
    height: 50%;
    order: 3;
    margin-top: 0;
  }
  #restaurant-cuisine {
    order: 1;
    width: 45%;
    font-size: 1.5em;
    margin: 0;
    padding-top: 10px;
  }
}
@media screen and (min-width: 660px){
  #reviews-list li {
    width: calc(100% / 2 - 25px);
    margin-right: 10px;
  }
  #reviews-list li p:last-child {
    font-size: 1.1em;
  }
}


   

 